<!--<div class="container">
    <form id="contact" method="post" ng-submit="controller.editJob()">
        <h3>
            Edit Job
        </h3>

        <fieldset>
            <input placeholder="Employer name" type="text" tabindex="1" ng-model="controller.jobToEdit.employerName" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Job Title" type="text" tabindex="2" ng-model="controller.jobToEdit.jobTitle" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Job Description" tabindex="3" ng-model="controller.jobToEdit.jobDescription" required></textarea>
        </fieldset>
        <fieldset>
            <input placeholder="Industry" type="text" tabindex="4" ng-model="controller.jobToEdit.industry" required>
        </fieldset>
        <fieldset>
            <input placeholder="Employment Type" type="text" tabindex="5" ng-model="controller.jobToEdit.employmentType" required>
        </fieldset>
        <fieldset>
            <input placeholder="Location" type="text" tabindex="6" ng-model="controller.jobToEdit.location" required>
        </fieldset>
        <fieldset>
            <input placeholder="Website" type="text" tabindex="7" ng-model="controller.jobToEdit.website" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
        </fieldset>
    </form>
    </div>-->
<div class="container">
    <form id="contact" method="post" ng-submit="controller.editJob()">
        <h3>
            Edit Job
        </h3>

        <fieldset>
            <input placeholder="Employer name" type="text" tabindex="1" ng-model="controller.jobToEdit.employerName" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Job Title" type="text" tabindex="2" ng-model="controller.jobToEdit.jobTitle" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Job Description" tabindex="3" ng-model="controller.jobToEdit.jobDescription" required></textarea>
        </fieldset>
        <fieldset>
            <input placeholder="Industry" type="text" tabindex="4" ng-model="controller.jobToEdit.industry" required>
        </fieldset>
        <fieldset>
            <input placeholder="Employment Type" type="text" tabindex="5" ng-model="controller.jobToEdit.employmentType" required>
        </fieldset>
        <fieldset>
            <input placeholder="Location" type="text" tabindex="6" ng-model="controller.jobToEdit.location" required>
        </fieldset>
        <fieldset>
            <input placeholder="Website" type="text" tabindex="7" ng-model="controller.jobToEdit.website" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
        </fieldset>
    </form>


</div>

<!--<h2>Editing Job</h2>


<form ng-submit="controller.editJob()">
    <fieldset>
        <label for="employerName">Employer Name:</label>
        <input id="employerName" tabindex="1" ng-model="controller.jobToEdit.employerName" />
    </fieldset>
    <fieldset>
        <label for="jobTitle">Job Title:</label>
        <input id="jobTitle" tabindex="2" ng-model="controller.jobToEdit.jobTitle" />
    </fieldset>
    <fieldset>
        <label for="jobDescription">:</label>
        <textarea tabindex="3" ng-model="controller.jobToEdit.jobDescription" id="jobDescription" cols="60" rows="6"></textarea>
    </fieldset>
    <fieldset>
        <label for="industry">Industry:</label>
        <input id="industry" tabindex="4" ng-model="controller.jobToEdit.industry" />
    </fieldset>
    <fieldset>
        <label for="employmentType">Employment Type:</label>
        <input id="employmentType" tabindex="5" ng-model="controller.jobToEdit.employmentType" />
    </fieldset>
    <fieldset>
        <label for="location">Location:</label>
        <input id="location" tabindex="6" ng-model="controller.jobToEdit.location" />
    </fieldset>
    <fieldset>
        <label for="website">Website:</label>
        <input id="website" tabindex="7" ng-model="controller.jobToEdit.website" />
    </fieldset>
    <fieldset>
        <label for="salary">Salary:</label>
        <input id="salary" tabindex="8" ng-model="controller.jobToEdit.salary" />
    </fieldset>
    <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
    </fieldset>

</form>-->
