<body>
    <div class="table-title">
        <h3>Finding Jobs all over the U.S.!</h3>
    </div>

    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">State</th>
                <th class="text-left"># of Jobs</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="state in controller.jobs.response.states">
                <td class="text-left">{{state.name}}</td>
                <td class="text-left">{{state.numJobs}}</td>
            </tr>

        </tbody>
    </table>


</body>

