
<html>
<head>
    <style>
        .button5 {
            border-radius: 12px;
            padding: 7px 12px;
        }
    </style>
</head>
<body>
</body>
</html>
<h2>Home</h2>
<p>
    {{controller.message}}
</p>

<ul>
    <li ng-repeat="state in controller.jobs.response.states">
        {{state.name}} - {{state.numJobs}}
        
    </li>
</ul>
<!--<button class="button button5" ng-click="controller.editOrder()"> Submit</button>-->
<div>For more jobs <a href="http://api.glassdoor.com/api/api.htm?v=1&format=json&t.p=145417&t.k=jpMvfETM5pS&action=employers&q=pharmaceuticals&userip=192.168.43.42&useragent=Mozilla/%2F4.0
">click here</a></div>