
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Job Name</th>
            <th class="text-left">Job Title</th>
            <th class="text-left">Industry</th>
            <th class="text-left">Location</th>
            <th class="text-left">Website</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr ng-repeat="employer in controller.jobTitle.response.employers">
            <td class="text-left">{{employer.name}}</td>
            <td class="text-left">{{employer.featuredReview.jobTitle}}</td>
            <td class="text-left">{{employer.industry}}</td>
            <td class="text-left">{{employer.featuredReview.location}}</td>
            <td class="text-left" ><a ui-sref="{{employer.website}}">{{employer.website}}</a></td>
        </tr>
    </tbody>
</table>