<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Job Name</th>
            <th class="text-left">Job Title</th>
            <!--<th class="text-left">Job Description</th>-->
            <th class="text-left">Industry</th>
            <th class="text-left">Employment Type</th>
            <th class="text-left">Location</th>
            <!--<th class="text-left">Website</th>-->
            <!--<th class="text-left"></th>-->
            <th class="text-left"></th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr ng-repeat="jobs in controller.jobList">
            <td class="text-left">{{jobs.employerName}}</td>
            <td class="text-left"><a ui-sref="details({ id: jobs.id })">{{jobs.jobTitle}}</a></td>
            <!--<td class="text-left">{{jobs.jobDescription}}</td>-->
            <td class="text-left">{{jobs.industry}}</td>
            <td class="text-left">{{jobs.employmentType}}</td>
            <td class="text-left">{{jobs.location}}</td>
            <!--<td class="text-left"><a href="{{jobs.website}}">Click Here</a></td>-->
            <!--<td><button ng-click="controller.saveAJob(jobs.id)">Save Job</button></td>-->
            <td><a ui-sref="deleteJob({id: jobs.id})">Delete</a></td>
        </tr>
    </tbody>
</table>
<button ng-click="account.logout()">Log Out</button>