@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #4E5066;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/**NAV**/
/* Navigation Menu */
.main-navigation {
	text-align: center;
	clear: both;
    font-size: 20px;
}
.main-navigation li {
	font-size: 20px;
	font-size: 0.8571428571rem;
	
}
.main-navigation a {
	color: #5e5e5e;	
}
.main-navigation a:hover {
	color: #21759b;	
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {display: none;}

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}
.menu-toggle {
	margin: 16px 0;
	margin: 1.1428571429rem 0;
}

.main-navigation ul.nav-menu.toggled-on li {margin-bottom: 16px;}

.hassubchild:after {
	content: 'V';
  padding-left:5px;
  font-size:14px;
  color:#147852;
}





@media screen and (min-width: 600px) {
.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {					
		display: inline-block !important;
		text-align: center; 
		width: 100%;					
	}
	
	.main-navigation ul {	
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
		
		margin: 0 16px; 
		margin: 0 1.1428571429rem;	
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		padding: 12px 0;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover {color: #89CBBF;}
	.main-navigation li { 
		position: relative;
		margin: 0;
	}
	
	.main-navigation li:hover {background: #ededed;}
		
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 14px;
		font-size: 14px;
		padding: 8px 10px;
		padding: 0.5714285714rem 0.7142857143rem;
		width: 180px;
		width: 12.857142857rem;
		white-space: normal;
		margin: 0;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;		
		color: #89CBBF;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a
	
     {
    
        font-size: 20px;
		color: #89CBBF;
		font-weight: bold;
	}

    .main-navigation .current_page_ancestor > a,
    .main-navigation .page_item > a
    {
        font-size: 20px;
    }
}